.nav-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    /* align-content: center; */
    /* text-align: center; */
    justify-content: center;
    padding-inline-start: 0px;
    font-size: 25px;

}

.nav-item {
    margin: 13px;
    font-family: 'Orbitron', sans-serif;
    /* text-shadow: #b4b1bc 0px 5px 10px, #b4b1bc 0px -5px 10px ; */
}

.nav-item:hover {
    text-shadow: var(--link-shadow);
    font-weight: bold;
    animation-name: wackyShadow;
    animation-duration: 1s;
    cursor: pointer;
}

.stuff {
    font-size: 22px;
}

/* TODO add background or just more flavor to sign up and login.
Add hover effect to them as well */

/* TODO find a way to make the page feel more separated and not 
one massive blog in the center screen */