.left-sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    background-color: #040336;
    width: 200px;
}

.right-sidebar,
.empty-right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    overflow-y: auto;
}

a,
a:visited {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
}

.user {
    display: flex;
    position: relative;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.user button {
    position: absolute;
    right: 10px;
    top: 20%;
    color: whitesmoke;
    background-color: var(--waikawa-gray);
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.user button:hover {
    background-color: var(--au-chico);
}