form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 19vw;
    font-size: 1em;
    padding: 5px;
    margin: .25em;
    border-radius: 5px;
}

button.btn {
    color: #84bbdb;
    background-color: #f0f8ff1b;
    font-size: 1em;
    width: 20vw;
    height: 2em;
    margin: .25em;
    margin-bottom: 40px;
    border: solid black 3.5px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    cursor: pointer;
}
button.btn:hover {
    color: #e2e2e2;
    background-color: #284f72bb;
    box-shadow: 0 3px 20px rgb(59, 59, 59);
}