:root {
    --link-shadow: #b4b1bc 0px -15px 2px, #b4b1bc 0px 15px 2px,#b4b1bcae 0px -29px 3px, #b4b1bcae 0px 29px 3px, #b4b1bc78 0px 42px 4px, #b4b1bc78 0px -42px 4px, #b4b1bc39 0px -54px 5px, #b4b1bc39 0px 54px 5px, #b4b1bc21 0px -65px 6px, #b4b1bc21 0px 65px 6px, #b4b1bc14 0px 75px 7px, #b4b1bc14 0px -75px 7px, #b4b1bc09 0px 84px 8px, #b4b1bc09 0px -84px 8px, #b4b1bc06 0px 72px 9px, #b4b1bc06 0px -72px 9px;
}

@keyframes wackyShadow {
    from {text-shadow: none;}
    to {text-shadow: var(--link-shadow)}
}

input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.search-form input{
    background-color: #b4b1bc1b;
    color: #b4b1bc;
    border: #b4b1bc3c;
    border-style: solid; 
    margin: 10px;
}

.search-button {
    background-color: #b4b1bc1b;
    margin: 10px;
    color: #b4b1bc
}

.search-button:hover {
    color: #9380c7;
    background-color: #b4b1bc61;
    text-shadow: var(--link-shadow);
    animation-name: wackyShadow;
    animation-duration: 1s;

}

.spotify-data {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.album-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* align-items: stretch; */
}

.artists-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* align-items: stretch; */
}


.album-card {
    margin: 20px;
    /* flex-shrink: 0.3;
    flex-grow: 3; */
}

.spotify-artist-card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
}

.artist-title {
    margin: 0px;
}

.spotty-link {
    margin: 10px;
    color: #435d5f;
    color: #b4b1bc;
    text-shadow: #435d5f 0px 2px 3px, #435d5f 0px -2px 3px;
    text-decoration: none;
}

.spotty-link:hover {
    font-weight: bolder;
    color: #9c5460
}

.img-box {
    box-shadow: #b4b1bc 0px 0px 30px, #b4b1bc81 0px 0px 100px
}

.album-image {
    height: 300px;
    width: 300px;
    
}

.album-image:hover {
    box-shadow: #b4b1bc 0px -15px 2px, #b4b1bc 0px 15px 2px,#b4b1bcae 0px -29px 3px, #b4b1bcae 0px 29px 3px, #b4b1bc78 0px 42px 4px, #b4b1bc78 0px -42px 4px, #b4b1bc39 0px -54px 5px, #b4b1bc39 0px 54px 5px, #b4b1bc21 0px -65px 6px, #b4b1bc21 0px 65px 6px, #b4b1bc14 0px 75px 7px, #b4b1bc14 0px -75px 7px, #b4b1bc09 0px 84px 8px, #b4b1bc09 0px -84px 8px, #b4b1bc06 0px 72px 9px, #b4b1bc06 0px -72px 9px;

}

.artist-image {
    height: 250px;
    width: 250px;
}

@media screen and (max-width: 350px) {

    .album-image {
        height: 200px;
    width: 200px;
    }

    .artist-image {
        height: 150;
    width: 150;
    }
}

@media screen and (min-width: 1200px) {

    .album-image {
        height: 325px;
    width: 325px;
    }

    .artist-image {
        height: 400px;
    width: 400px;
    }
}